@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face rules */
@font-face {
  font-family: "Mons Sans";
  src: url("/fonts/Mona-Sans-RegularNarrow.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Mons Sans";
  src: url("/fonts/Mona-Sans-SemiBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Mons Sans";
  src: url("/fonts/Mona-Sans-LightWideItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #292a6a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
  overflow-x: hidden;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.2;
}

p {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: color 0.3s ease;
}

a:hover {
  color: #0070f3;
}

/* Lists */
ul,
ol {
  list-style: none;
}

.container {
  @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}
